<mat-toolbar>
  <mat-toolbar-row>
    <div class="leftNavbar">
      <button mat-icon-button (click)="emitToggleSideBar()">
        <mat-icon>menu</mat-icon>
      </button>
      <span routerLink="/products"> Tachor Store </span>
    </div>
    <h2 *ngIf="updateUserLogedIn()" > Welcome {{updateUserLogedIn()}}. </h2>
    <h2 *ngIf="!updateUserLogedIn()" > Please log in. </h2>
    <button *ngIf="userLoggedIn" (click)="logout()">logout</button>

    <div class="rightNavbar">
        <fa-icon [icon]="faCartPlus" routerLink="cart"></fa-icon>
        <div style="font-size: 10px;" class="badge bg-danger prodNumber">{{totalItems}}</div>
    </div>



  </mat-toolbar-row>
</mat-toolbar>


