<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://media-exp3.licdn.com/dms/image/C4D1BAQHxINS0YZXisg/company-background_10000/0/1566082835119?e=2159024400&v=beta&t=1KKCrWVgis2P_Oz-bJAZIYN1LRcHs6WdpVHFp6i6-A8" id="icon" alt="User Icon"/>
    </div>

    <!-- Login Form -->
    <form>
      <input type="text"  [(ngModel)]="firstName" class="fadeIn first" name="login" placeholder="first name">
      <input type="text"  [(ngModel)]="lastName" class="fadeIn first" name="login" placeholder="last name">
      <input type="text"  [(ngModel)]="email" class="fadeIn second" name="login" placeholder="email">
      <input type="password" id="password" [(ngModel)]="password" class="fadeIn second, inputs" name="login" placeholder="password">

      <input type="submit" class="fadeIn fourth" value="Log In" (click)="register()">
    </form>
    <h2 *ngIf="error" class="error">Invalid username or password.</h2>
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>


<!--<div class="wrapper fadeInDown">-->
<!--  <div id="formContent">-->
<!--    <mat-card>-->
<!--      <mat-card-header>-->
<!--        <mat-card-title>Login</mat-card-title>-->
<!--      </mat-card-header>-->
<!--      <mat-card-content>-->
<!--        <form>-->
<!--          <table>-->
<!--            <tr>-->
<!--              <td>-->
<!--                <mat-form-field class="fadeIn second">-->
<!--                  <input class="inputs" matInput placeholder="Username" [(ngModel)]="username" name="username" required>-->
<!--                </mat-form-field>-->
<!--              </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td>-->
<!--                <mat-form-field class="fadeIn third">-->
<!--                  <input class="inputs" matInput placeholder="Password" [(ngModel)]="password" type="password" name="password"-->
<!--                         required>-->
<!--                </mat-form-field>-->
<!--              </td>-->
<!--            </tr>-->
<!--            <p *ngIf="error" class="error">-->
<!--              {{ error }}-->
<!--            </p>-->
<!--          </table>-->
<!--        </form>-->

<!--      </mat-card-content>-->
<!--      <mat-card-actions>-->
<!--        <button class="submits"  mat-raised-button (click)="checkLogin()" class="fadeIn fourth"  color="primary">Login</button>-->
<!--      </mat-card-actions>-->
<!--    </mat-card>-->
<!--  </div>-->
<!--</div>-->
